@model LoanApplicationModel


<form method="post">
    <div class="pt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Add Loan Application
            </h2>
            <hr />

        </div>
        <div asp-validation-summary="All" class="text-warning">
        </div>
        <div class="mb-3">
            <table class="table-borderless border-2" width="100%">
                <thead>
                </thead>
                <tbody>

                    <tr class="border-spacing">
                        <td width="20%">
                            <label asp-for="CustomerName">Customer Name</label>
                        </td>

                        <td width="20%">
                            <input asp-for="CustomerName" class="form-control" />
                            <span asp-validation-for="CustomerName" class="text-danger"></span>
                        </td>
                    </tr>

                    <br />

                    <tr class="border-spacing">
                        <td width="20%">
                            <label asp-for="LoanTypeName">Loan Type</label>
                        </td>

                        <td width="20%">
                            <select class="form-select" id="LoanTypeDropdown" asp-for="LoanTypeName" asp-items="ViewBag.LoanTypes">
                                <option value="">--Select Loan Type--</option>
                            </select>
                        </td>
                        <td width="5%">
                        </td>
                        <br />
                    </tr>

                    <tr class="border-spacing">
                        <td width="20%">
                            <label asp-for="InterestRate">Interest Rate</label>
                        </td>

                        <td width="20%">
                            <input asp-for="InterestRate" id="InterestRate" class="form-control" class="form-control"
                                   type="number"
                                   min="0"
                                   step="0.01"
                                   pattern="\d+(\.\d+)?"
                                   placeholder="e.g. 5.25" />
                            <span asp-validation-for="InterestRate" class="text-danger"></span>
                        </td>
                        <td width="5%">
                        </td>
                        <br />
                    </tr>
                </tbody>
            </table>

        </div>
        <br />

        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary" style="width:250px">Back to Loan Application List</a>
    </div>
</form>

<script>
    // Loan types from server
    const loanTypes = @Html.Raw(ViewBag.LoanTypesJson);

    document.getElementById("LoanTypeDropdown")
        .addEventListener("change", function () {

            const selectedLoanTypeName = this.value;
            const interestInput = document.getElementById("InterestRate");

            if (!selectedLoanTypeName) {
                interestInput.value = "";
                return;
            }

            // Find selected loan type
            const selectedLoan = loanTypes.find(
                l => l.LoanTypeName === selectedLoanTypeName
            );

            if (selectedLoan) {
                interestInput.value = selectedLoan.InterestRate;
            }
        });
</script>

@*client side validation*@
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />

    }
}